@import './mixin.scss';

.inner{padding: 5vw;}
.mgt{margin-top: 50px;}
.start{opacity: 0;}
.end{opacity: 1; transition : opacity 0.3s;}
.wrap-tit{
  font-size: 1.5rem;
  font-weight: normal;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  .tit-icon{
    color: $mainGreen;
    display: inline-block;
    margin-right: 10px;
    font-size: 1.7rem;
    width: 25px; height: 30px;
  }
}
.user-name{
  font-weight: normal;
  font-size: 1rem;
  .user-nick{
    font-size: 1.3rem;
    font-weight: bold;
    color: $mainGreen;
  }
}
