@import './mixin.scss';

.inner{padding: 5vw;}
.mgt{margin-top: 50px;}
.start{opacity: 0;}
.end{opacity: 1; transition : opacity 0.3s;}
.wrap-tit{
  font-size: 1.5rem;
  font-weight: normal;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  .tit-icon{
    color: $mainGreen;
    display: inline-block;
    margin-right: 10px;
    font-size: 1.7rem;
    width: 25px; height: 30px;
  }
}
.user-name{
  font-weight: normal;
  font-size: 1rem;
  .user-nick{
    font-size: 1.3rem;
    font-weight: bold;
    color: $mainGreen;
  }
}

//검색,추천 리스트
.SearchMovies{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0 50px;
  .search-movie-list {
    width: 40%;
    margin: 20px 0;
    .search-movie-poster {
      border-radius: 10px;
      box-shadow: 5px 2px 30px rgba(29, 134, 74, 0.5);
      overflow: hidden;
    }
    .movie-title {
      font-size: 1rem;
      text-align: center;
      display: block;
      margin: 10px 0;
    }
    .sub-title {
      font-size: .7rem;
      text-align: center;
      display: block;
      .bar {
        margin: 0 5px;
      }
    }
  }
}
