@import './mixin.scss';

.inner{padding: 5vw !important;}
.mgt{margin-top: 50px;}
.sec-mgt{margin-top: 91px;}
.start{opacity: 0;}
.end{opacity: 1; transition : opacity 0.3s;}
.wrap-tit{
  font-size: 1.2rem;
  font-weight: normal;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  .tit-icon{
    color: $mainGreen;
    display: inline-block;
    margin-right: 10px;
    font-size: 1.5rem;
    width: 25px; height: 25px;
  }
}
.user-name{
  font-weight: normal;
  font-size: .8rem;
  margin-bottom: 5px;
  .user-nick{
    font-size: 1rem;
    font-weight: bold;
    color: $mainGreen;
  }
}
.login-btn{
  color: #9f9f9f;
}

//검색,추천 리스트
.SearchMovies{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 20px 0 50px;
  .search-movie-list {
    width: 140px;
    margin: 20px 0;
    .search-movie-poster {
      border-radius: 10px;
      box-shadow: 5px 4px 15px rgba(55, 60, 57, 0.5);
      overflow: hidden;
      height: 210px;
      img{
        height: 100%;
      }
    }
    .movie-title {
      font-size: 1rem;
      text-align: center;
      display: block;
      margin: 10px 0;
    }
    .sub-title {
      font-size: .7rem;
      text-align: center;
      display: block;
      .bar {
        margin: 0 5px;
      }
    }
  }
}
.middle-line{
  display: block;
  width: 100%; height: 10px;
  background-color: #f1f1f1;
}
//user 인사
.user-wrap{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 5px;
  @include secBorderBottom();
  .user-left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    .user-icon{
      color: $mainText;
      background: none;
      border: none;
      display: inline-block;
      font-size: 1.6rem;
      margin-right: 5px;
      svg{
        vertical-align: bottom;
      }
    }
  }
  .user-detail{
    width: 20%;
    button{
      display: inline-block;
      width: 100%;
      border-radius: 10px;
      padding: 5px 0;
      font-size: .8rem;
      color: #fff;
      background: $mainBg;
    }
  }
}