@import './mixin.scss';

//Home
.Home{
  margin-bottom: 100px;
  //최신영화
  .recent-movie-wrap{
    .recent-movie-list {
      margin-top: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .recent-movie-cont {
        width: 160px;
        margin-right: 20px;
        .movie-poster {
          width: 100%;
          overflow: hidden;
          border-radius: 10px;
          box-shadow: 5px 2px 30px rgba(29, 134, 74, 0.5);
          height: 240px;
          img{height: 100%;}
        }
        .movie-title {
          font-size: 1rem;
          text-align: center;
          display: block;
          margin: 10px 0 5px;
          overflow:hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
        }
        .sub-title {
          font-size: .7rem;
          text-align: center;
          display: block;
          .bar {
            margin: 0 5px;
          }
        }
      }
    }
  }
  //개봉 예정 영화
  .upcoming-movie-wrap {
    .upcoming-movie-list {
      margin-top: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .upcoming-movie-cont {
        width: 160px;
        margin-right: 20px;
        .movie-poster {
          width: 100%;
          overflow: hidden;
          border-radius: 10px;
          box-shadow: 5px 2px 30px rgba(29, 134, 74, 0.5);
          height: 240px;
          img{height: 100%;}
        }
        .movie-title {
          font-size: 1rem;
          text-align: center;
          display: block;
          margin: 10px 0 5px;
          overflow:hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
        }
      }
    }
  }
  //배너
  .banner-wrap{
    .main-banner{
      @include gradLiner();
      margin-top: 20px;
      padding: 30px;
      font-size: 1.2rem;
      font-weight: normal;
      text-align: left;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}