//color
$mainGreen : #1d864a;
$subGreen : #0d6f37;
$mainText : #d5d5d5;
$subBg : #383848;
$mainBg : #23232E;
$whiteOpacity : #d5d5d570;

//background
@mixin gradLiner(){
  background: linear-gradient(135deg, #33a966, 40%, #0d6f37);
}

//section border bottom
@mixin secBorderBottom(){
  padding-bottom: 10px;
  border-bottom: 1px solid $whiteOpacity;
}