@import './mixin.scss';

//movieDetail
.MovieDetail{
  padding-bottom: 100px;
  .detail-wrap{
    position: relative;
    .movie-poster-bg{
      position: relative;
      &::before{
        content: '';
        display: block;
        width: 100%; height: 100%;
        background: linear-gradient(to bottom, rgb(249 0 0 / 0%), #23232E);
        position: absolute;
      }
    }
    .detail-title-wrap{
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      position: absolute;
      left: 0; top: 100px;
      .movie-poster{
        width: 170px;
      }
      .detail-text-wrap{
        margin-left: 5%;
        width: 80%;
        span{display: block;}
        .movie-title{
          font-size: 1.1rem;
        }
        .movie-title-en{
          font-size: 0.7rem;
          color: rgba(255, 255, 255, 0.4);
          line-height: 14px;
          margin: 3px 0;
        }
        .sub-text-wrap{
          color: rgba(255, 255, 255, 0.7);
          font-size: .8rem;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-start;
          margin-top: 10px;
          .sub-text{
            color: inherit; font-size: inherit;
            position: relative;
            padding-right: 20px;
            &::after{
              content: ''; width: 1px; height: 10px;
              position: absolute;
              right: 10px; top: 50%;
              transform: translateY(-50%);
              background-color: #fff;
              opacity: 0.2;
            }
            i{
              margin-right: 5px;
            }
          }
        }
      }
    }
    .overview-text-wrap{
      margin-top: 90px;
      font-size: .9rem;
      .overview-tit{
        display: block;
        margin-bottom: 5px;
      }
      .overview-text{
      line-height: 1.2;
      font-weight: 300;
        &.hide{
          overflow:hidden;
          text-overflow:ellipsis;
          white-space:nowrap;
        }
      }
      .more-btn{
        font-size: .8rem;
        color: rgba(255, 255, 255, 0.4);
        &.hide{
          display: none;
        }
      }
    }
  }
}