@import './mixin.scss';

//recommend
.Recommend{
  margin-bottom: 100px;
  .recommend-qa{
    margin-top: 30px;
    .qa-wrap{
      margin-bottom: 30px;
      .question{
        font-size: 1.2rem;
        font-weight: bold;
        &::after{
          content: '';
          display: inline-block;
          width: 50%; height: 3px;
          @include gradLiner();
        }
      }
      .answer-wrap{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px;
        .answer{
          display: flex;
          align-items: center;
          margin-right: 10px;
          margin-top: 5px;
          font-size: 1rem;
        }
      }
    }
  }
  .recommend-btn{
    @include gradLiner();
    display: block; width: 100%;
    border-radius: 10px; color: $mainText;
    padding: 15px 0;
    font-size: 1.2rem; font-weight: bold;
  }
  //radio button custom
  [type="radio"]{
    vertical-align: middle;
    appearance: none;
    border: 1px solid $mainText;
    border-radius: 50%;
    width: 1.1rem; height: 1.1rem;
    margin-right: 5px;
  }
  [type="radio"]:checked{
    @include gradLiner();
  }
  [type="radio"]:checked +label{
    font-weight: bold;
    color: $mainGreen;
  }
  //select box custom
  .mbti-select{
    display: block;
    width: 50%;
    background: $subBg;
    padding: 5px;
    border-radius: 5px;
    color: $mainText;
  }
}