@import './mixin.scss';

.box{
  width: 200px;
  height: 100px;
  //background: #1d864a;
  margin: 10px auto;
  border-radius: 15px;
}
.box1{
  background: linear-gradient(135deg, #33a966, 40%, #0d6f37);
}