@import './home';
@import './recommend';
@import './search';
@import './mixin';

//common
.inner{padding: 5vw;}
.mgt{margin-top: 50px;}
.wrap-tit{
  font-size: 1.5rem;
  font-weight: normal;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .tit-icon{
    color: $mainGreen;
    display: inline-block;
    margin-right: 10px;
    font-size: 1.7rem;
    width: 25px; height: 30px;
  }
}
//App.js
.App{
  //header
  .header-wrap{
    width: 100%;
    padding: 4vw 5vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(35, 35, 46, 0.5);
    .logo{
      width: 110px;
    }
    .user-name{
      font-weight: normal;
      font-size: 1rem;
      .user-nick{
        font-size: 1.3rem;
        font-weight: bold;
        color: $mainGreen;
      }
    }
  }

  //navigate wrap
  .navi-wrap{
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background: rgba(56, 56, 72, 0.95);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    box-shadow: 0px -5px 20px rgba(255, 255, 255, 0.3);
    z-index: 999;
    .navi-btn{
      background: none;
      border: none;
      display: inline-block;
      color: $mainGreen;
      font-size: 2rem;
      position: relative;
      &.active{
        color: $mainText;
        &::after{
          display: inline-block;
          content: '';
          width: 8vw; height: 8vw;
          position: absolute;
          left: 50%; top: 50%;
          transform: translate(-50%, -50%);
          background: $mainGreen;
          border-radius: 50%;
          z-index: -1;
          filter: blur(1rem);
        }
      }
    }
  }
}

