.Home {
  margin-bottom: 100px;
}
.Home .recent-movie-wrap .recent-movie-list {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Home .recent-movie-wrap .recent-movie-list .recent-movie-cont {
  width: 160px;
  margin-right: 20px;
}
.Home .recent-movie-wrap .recent-movie-list .recent-movie-cont .movie-poster {
  border-radius: 10px;
  box-shadow: 5px 2px 30px rgba(29, 134, 74, 0.5);
  height: 220px;
  background: #595959;
}
.Home .recent-movie-wrap .recent-movie-list .recent-movie-cont .movie-title {
  font-size: 1rem;
  text-align: center;
  display: block;
  margin: 5px 0;
}
.Home .recent-movie-wrap .recent-movie-list .recent-movie-cont .sub-title {
  font-size: 0.7rem;
  text-align: center;
  display: block;
}
.Home .recent-movie-wrap .recent-movie-list .recent-movie-cont .sub-title .bar {
  margin: 0 5px;
}
.Home .recommend-movie-wrap .recommend-movie-list {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Home .recommend-movie-wrap .recommend-movie-list .recommend-movie-cont {
  width: 160px;
  margin-right: 20px;
}
.Home .recommend-movie-wrap .recommend-movie-list .recommend-movie-cont .movie-poster {
  border-radius: 10px;
  box-shadow: 5px 2px 30px rgba(29, 134, 74, 0.5);
  height: 220px;
  background: #595959;
}
.Home .recommend-movie-wrap .recommend-movie-list .recommend-movie-cont .movie-title {
  font-size: 1rem;
  text-align: center;
  display: block;
  margin: 5px 0;
}
.Home .banner-wrap .main-banner {
  background: linear-gradient(135deg, #33a966, 40%, #0d6f37);
  margin-top: 20px;
  padding: 35px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
  border-radius: 10px;
  display: block;
}

.Recommend {
  margin-bottom: 100px;
}
.Recommend .recommend-qa {
  margin-top: 30px;
}
.Recommend .recommend-qa .qa-wrap {
  margin-bottom: 30px;
}
.Recommend .recommend-qa .qa-wrap .question {
  font-size: 1.2rem;
  font-weight: bold;
  display: inline;
  position: relative;
  z-index: 1;
}
.Recommend .recommend-qa .qa-wrap .question::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 3px;
  z-index: -1;
  background: linear-gradient(135deg, #33a966, 40%, #0d6f37);
  background: #1d864a;
}
.Recommend .recommend-qa .qa-wrap .answer-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
.Recommend .recommend-qa .qa-wrap .answer-wrap .answer {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-top: 5px;
  font-size: 1rem;
}
.Recommend .recommend-btn {
  background: linear-gradient(135deg, #33a966, 40%, #0d6f37);
  display: block;
  width: 100%;
  border-radius: 10px;
  color: #d5d5d5;
  padding: 15px 0;
  font-size: 1.2rem;
  font-weight: bold;
}
.Recommend [type=radio] {
  vertical-align: middle;
  appearance: none;
  border: 1px solid #d5d5d5;
  border-radius: 50%;
  width: 1.1rem;
  height: 1.1rem;
  margin-right: 5px;
}
.Recommend [type=radio]:checked {
  background: linear-gradient(135deg, #33a966, 40%, #0d6f37);
}
.Recommend [type=radio]:checked + label {
  font-weight: bold;
  color: #1d864a;
}
.Recommend .mbti-select {
  display: block;
  width: 50%;
  background: #383848;
  padding: 5px;
  border-radius: 5px;
  color: #d5d5d5;
}

.inner {
  padding: 5vw;
}

.mgt {
  margin-top: 50px;
}

.wrap-tit {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.wrap-tit .tit-icon {
  color: #1d864a;
  display: inline-block;
  margin-right: 10px;
  font-size: 1.7rem;
  width: 25px;
  height: 30px;
}

.App .header-wrap {
  width: 100%;
  padding: 4vw 5vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(35, 35, 46, 0.5);
}
.App .header-wrap .logo {
  width: 110px;
}
.App .header-wrap .user-name {
  font-weight: bold;
  font-size: 1rem;
}
.App .header-wrap .user-name .user-nick {
  font-size: 1.3rem;
  color: #1d864a;
}
.App .navi-wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  background: rgba(56, 56, 72, 0.95);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  box-shadow: 0px -5px 20px rgba(255, 255, 255, 0.3);
}
.App .navi-wrap .navi-btn {
  background: none;
  border: none;
  display: inline-block;
  color: #1d864a;
  font-size: 2rem;
  position: relative;
}
.App .navi-wrap .navi-btn.active {
  color: #d5d5d5;
}
.App .navi-wrap .navi-btn.active::after {
  display: inline-block;
  content: "";
  width: 8vw;
  height: 8vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #1d864a;
  border-radius: 50%;
  z-index: -1;
  filter: blur(1rem);
}

/*# sourceMappingURL=style.css.map */
