@import './mixin.scss';

.box{
  width: 200px;
  height: 100px;
  //background: #1d864a;
  margin: 10px auto;
  border-radius: 15px;
}
.box1{
  background: linear-gradient(135deg, #33a966, 40%, #0d6f37);
}
.box2{
  background: linear-gradient(135deg, #30da7a, 40%, #0d6f37);
}
.box3{
  background: linear-gradient(135deg, #21b05e, 40%, #0c7939);
}
.box4{
  background: linear-gradient(135deg, #e64353, 40%, #a80c22);
}
.box5{
  background: linear-gradient(135deg, #ea5a68, 40%, #a80c22);
}
.box6{
  background: linear-gradient(135deg, #e77983, 50%, #a10419);
}